<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>John Doe</string>
	<key>Phones</key>
	<array>
		<string>555-555-1111</string>
		<string>555-555-2222</string>
		<string>555-555-3333</string>
	</array>
</dict>
</plist>
